html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* added to force a vertical scroll bar */
  min-height: 5000px;
}

canvas {
  display: block;
}

.main-wrapper {
  max-width: 400px;
  /* margin: 0 auto; */
  /* This makes the canvas appear always in the */
  /* same position in the browser viewport; it  */
  /* does not scroll. */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}