html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* background: #f3f3f9; */
  background: white;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 55px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 35px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 1);
}

h3 {
  font-size: 28px;
  background-color: rgba(255, 255, 255, 1);
}

hr {
  border: 0.5px solid black;
  margin: 20px 0 50px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00ff85;
  /* color: #5f51fe; */
  text-decoration: none;
}

canvas {
  display: block;
}

#title-container {
  /* background-color: white; */
  padding: 30px;
  width: 16%;
  min-width: 215px;
  max-width: 480px;
  position: fixed;
  right: 30px;
  top: 30px;
  text-align: left;
  z-index: 300;
}

#project-box-container {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 75%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.project-box {
  z-index: 100;
  margin: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* cursor: pointer; */
}

.project-box:hover {
  /* transform: rotate(-5deg); */
}

.project-title {
  /* background-color: blueviolet; */
  font-size: 22px;
  font-weight: 700;
}

.project-student-name {
  /*  background-color: blue; */
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
}

.prev-next-button-container {
  margin-top: 15px;
  font-size: 15px;
}

.footer {
  background-color: red;
  height: 50px;
}

@media screen and (max-width: 900px) {
  #title-container {
    width: calc(100% - 120px);
    min-width: none;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
    text-align: center;
  }
  #project-box-container {
    position: static;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

/* INDEX PAGE */

.main-title-container {
  /*   background: cyan; */
  position: absolute;
  width: auto;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.main-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.main-sub {
  font-size: 38px;
  margin-bottom: 50px;
}

.main-text {
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-section {
  background-color: transparent;
  border: none;
  height: 60px;
  margin: 0 10px;

  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.prev-semester-container {
  position: fixed;
  right: 25px;
  top: 20px;
  font-size: 12px;
}
