body{
  margin:0;
  font-family: sans-serif;
}

.main-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
}

.content-wrapper{
  /* outline: black 1px solid; */
  width: 100%;
  max-width: 1500px;
  display: flex;
  height: 90vh;
 
}
.list-wrapper{
  display: flex;
  flex: 0.5;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
}
.project-list{
  /* outline: 1px solid red; */
  max-height: 100%;
  overflow: scroll;

  list-style: none;
  padding: 20px;
  font-size: 1.25em;
}
.project-list li{
  /* margin: 30px 0px; */
  /* background-color: red; */
  padding: 2px 0px;
  cursor: pointer;
  padding-left: 10px;
  mix-blend-mode: difference;
  color: white;
  
}


.hovered{
  
  mix-blend-mode: difference;
  /* background-color: rgb(255, 242, 0); */
  background-color: white;
  color: black;
  
}
.hovered p{
  /* background-color: rgb(255, 242, 0); */
  
  /* background-blend-mode: difference; */
  color: black;
  
}
.hovered p:before {
  content: "☞ ";
}


.project-list .student-name{
  margin-right: 10px;
  font-weight: bold;
  
}
.info-wrapper{
  flex: 0.5;
  /* outline: 1px dashed green; */
  display: flex;
  flex-direction: column;

}

.header-info{
  /* outline: 1px black dashed; */
  text-align: right;
  padding: 5px 30px;
}
h1{
  font-size: 3.7em;
  /* display: flex; */
  color: white;
  mix-blend-mode: difference;
  
}
h2{
  color: white;
  mix-blend-mode: difference;
}
.title-word{
  margin: 0px 8px;
  position: relative;
  display: inline-block;
  
}
.Creative{
  top:-13px;
  transform: rotate(-5deg);
}
.Coding{
  transform: rotate(3deg);
}
.Lab{
  position: relative;
  top:25px;
  transform: rotate(-3deg);
  font-size: 0.8em;
}
.title-letter{
  display: inline-block;
  position: relative;
  transition: all 0.5s; 
}
/* h1 span{
  position: relative;
  transform: rotate(45deg);
  display: inline-block;
  mix-blend-mode: difference;
} */
.project-description{
  /* outline: 1px black dashed; */
  flex-grow: 3;
  padding:10px;
  /* padding-top: 200px; */
  /* background-color: aqua; */
  display: flex;
  

  
}
.project-description p{
  max-width: 500px;
  margin: auto;
  font-size: 1.6em;
  /* outline: 2px black solid; */
  padding: 10px;
  /* margin-bottom: 30%; */
  background-blend-mode: difference;
  display: none;
}

@media (max-width: 800px) {
  /* CSS rules */
  .project-description{
    display: none;
  }
  .info-wrapper{
    flex: none;
    order: 1;
  }
  .list-wrapper{
    flex: none;
    order: 2;
    display: block;
  }
  .content-wrapper{
    flex-direction: column;
    height: auto;
  }
  .main-wrapper{
    display: block;
  }
  

}


.prev-next-button-container{
  position: fixed;
  bottom: 30px;
  right: 30px
}